.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.slider-board {
  margin-top: 18px;
  width: 100%;
}

.slider-board div {
  display: flex;
  justify-content: center;
}

.slider-msg {
  font-size: 24px;
}

.btn-new-game {
  margin-top: 20px;
}

.btn-new-game button {
  outline: 0;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: #45884e;
  border: none;
  padding: 1.6em 4em;
  transition: all .1s ease-out;
  box-shadow: inset 0 -8px 0 0 rgba(0, 0, 0, .2), 1px 1px 0 0 #4c776e, 2px 2px 0 0 #4c776e, 3px 3px 0 0 #4c776e;
}

.btn-new-game button:hover {
  color: #91ff7f;
}

.btn-new-game button:active {
  color: rgb(156, 250, 6);
  box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, .2), 1px 1px 0 0 #4c776e, 2px 2px 0 0 #4c776e, 3px 3px 0 0 #4c776e, 4px 4px 0 0 #4c776e, 5px 5px 0 0 #4c776e;
}

.slider-board div span,.slider-board div div {
  background: #5f5e88;
  width: 46px;
  margin: 0;
  margin-bottom: 2px;
  margin-left: 2px;
  padding: 14px;
  display: inline-block;
  color: #fff;
  text-shadow: 0 0 2px rgba(0, 0, 0, .3);
  box-shadow: inset 0 0 0px 0 rgba(255, 255, 255, .4), inset 0 0 8px 0 rgba(0, 0, 0, .4), inset 0 0 3px 5px rgba(0, 0, 0, .05), 2px 2px 4px 0 rgba(0, 0, 0, .25);
  border-radius: 4px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.slider-board div span.empty,.slider-board div div.empty {
  width: 46px;
  margin: 0;
  padding: 14px;
  margin-bottom: 2px;
  margin-left: 2px;
  background: #282c34;
  box-shadow: none;
}